<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Pesquera</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
	integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
	crossorigin="anonymous">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img th:src="@{/images/listapescadosa.png}" width="136" height="136">
			<h2>Listado de Pescados</h2>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="/pescado/crearPescado"> Registro de Pescado</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Id Pescado</th>
				<th>Tipo</th>
				<th>Color</th>
				<th>Nombre</th>
				<th>Tamanio</th>
				<th>Detalle</th>

			</tr>
		</thead>
		<tr th:each="tmpPescado:${pescados}">
			<td th:text="${tmpPescado.idPescado}"></td>
			<td th:text="${tmpPescado.tipo}"></td>
			<td th:text="${tmpPescado.color}"></td>
			<td th:text="${tmpPescado.nombre}"></td>
			<td th:text="${tmpPescado.tamanio}"></td>
			<td><a
				th:href="@{/pescado/detalle/{id} (id=${tmpPescado.idPescado})}"
				class="btn btn-primary">Detalle</a></td>
		</tr>
	</table>


	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
</body>

</html>