<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Pesquera</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
	integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
	crossorigin="anonymous">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img th:src="@{/images/empleadoslogo.png}" width="136" height="136">
			<h2>Listado de Productos</h2>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="/producto/crearProducto"> Registro de Producto</a></li>

				</ul>
			</div>
		</nav>
	</header>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Id Producto</th>
				<th>Peso</th>
				<th>Precio</th>
				<th>Descripcion</th>
				<th>Cantidad Existente</th>
				<th>Detalle</th>

			</tr>
		</thead>
		<tr th:each="tmpProducto:${productos}">
			<td th:text="${tmpProducto.idProducto}"></td>
			<td th:text="${tmpProducto.peso}"></td>
			<td th:text="${tmpProducto.precio}"></td>
			<td th:text="${tmpProducto.descripcion}"></td>
			<td th:text="${tmpProducto.cantidadExistente}"></td>
			<td><a
				th:href="@{/producto/detalle/{id} (id=${tmpProducto.idProducto})}"
				class="btn btn-primary">Detalle</a></td>
		</tr>
	</table>


	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
</body>

</html>