<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Crear Limpieza</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img th:src="@{/images/limpiezaa.png}" width="175" height="150">
			<h2>Bienvenido, Registre una limpieza</h2>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"></li>
					<a class="nav-link" th:href="@{/limpieza/listarLimpiezas}"> Listado de Limpiezas</a>
				</ul>
			</div>
		</nav>
	</header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Formulario de registro para Limpiezas</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/limpieza/crearLimpieza}" method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">Id Limpieza</label> <input
								type="number" class="form-control" id="id" name="id"
								placeholder="ingrese un id para la limpieza" min="100"
								max="1000000">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Hora Inicio</label> <input type="text"
								class="form-control" id="horaInicio" name="horaInicio"
								placeholder="ingrese la hora de la limpieza en: HH:mm:ss">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Hora Final</label> <input type="text"
								class="form-control" id="horaFinal" name="horaFinal"
								placeholder="ingrese la hora final">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Cantidad de empleados Asignados</label> <input
								type="number" class="form-control" id="cantidadEmpleados" name="cantidadEmpleados"
								placeholder="ingrese direccion de empleado">
						</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Id Supervisor</label> <input
								type="number" class="form-control" id="idEmpleado"
								name="idEmpleado"
								placeholder="ingrese el id del empleado supervisor">
						</div>
						<button type="submit" class="btn btn-primary">Agregar</button>
					</form>
				</div>
			</div>
		</div>

	</main>

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>